<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Библиотека</h1>

<table class="books">
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Жанр</th>
        <th>Автор</th>
        <th>Редактирование</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:align="center" align="center" th:each="book : ${books}">
        <td>
            <a th:href="@{/book(id=${book.getId()})}" href="book.html" th:text="${book.title}">Отцы и дети</a>
        </td>
        <td th:text="${book.genre.genreName}">Роман</td>
        <td>
            <a th:href="@{/author(id=${book.author.getId()})}" href="author.html" th:text="${book.author.authorName}">Тургенев</a>
        </td>
        <td>
            <button><a th:href="@{/edit(id=${book.getId()})}" href="edit.html">Редактировать</a></button>
        </td>
        <td>
            <form th:action="@{/delete(id=${book.id})}" th:object="${book}" method="post">
                <button type="submit" onClick="return confirm('Уверен, что хочешь удалить книгу?')">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button><a th:href="@{/add}" href="add.html">Добавить книгу</a></button>
</body>
</html>
