<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="registerService" class="ru.otus.services.RegisterServiceImpl"/>

    <bean id="answerService" class="ru.otus.services.AnswerServiceImpl">
        <constructor-arg name="filename" value="Questions.csv"/>
    </bean>

    <bean id="resultService" class="ru.otus.services.ResultServiceImpl"/>

    <bean id="runner" class="ru.otus.runner.TestRunnerServiceImpl">
        <constructor-arg name="register" ref="registerService"/>
        <constructor-arg name="answer" ref="answerService"/>
        <constructor-arg name="result" ref="resultService"/>
    </bean>


</beans>
