<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Книга</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
</head>
<body>
<div>
    <div id="main-book">
    </div>


    <form action="/api/books/" id="comment-form-id" method="post">
        <p>Добавить комментарий:
            <label for="comment-input-id"></label>
            <input id="comment-input-id" type="text" required="required" minlength="0"/>
        </p>
        <p>
            <input type="submit" value="Добавить комментарий">
            <span id="comment-error"></span>
        </p>
    </form>

    <button>
        <a th:href="@{/books}" href="books.html">К списку книг</a>
    </button>
</div>

<script>

    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
            .exec(window.location.search);

        return (results !== null) ? results[1] || 0 : false;
    };

    $(function () {
        const bookId = $.urlParam('id');
        $.get('/api/books/' + bookId).done(function (book) {
            $('div#main-book').append(`
                    <h1>${book.title}</h1>
                    <h2>${book.author.authorName}</h2>
                    <p>Комментарии к книге:</p>
                    <ul id="comments-id"></ul>
                `);
            if (book.comments.length > 0) {
                book.comments.forEach(function (comment) {
                    $('ul#comments-id').append(`
                    <li>${comment}</li>
                    `)
                })
            } else {
                $('ul#comments-id').append(`
                    <li id="empty-comment-id">Комментарии отсутствуют</li>
                    `)
            }
        });
    });

    $('form#comment-form-id').submit(function (e) {
        e.preventDefault();
        var $form = $(this), url = $form.attr('action') + $.urlParam('id') + '/comment';
        var data = {
            comment: $('#comment-input-id').val()
        };
        var posting = $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json'
        });

        posting.done(function (data) {
                $('span#comment-error').empty();
                $('li#empty-comment-id').detach();
                $('ul#comments-id').append(`
                    <li>${data.comment}</li>
                    `);
                $('input#comment-input-id').val("");
            }
        )
        ;
    });

</script>

</body>
</html>